# WordPress GraphQL endpoint
WP_GRAPHQL_URL=https://cms.trendradar.se/graphql

# WordPress REST API base URL
HOST_URL=https://cms.trendradar.se

# Public hostname
NEXT_PUBLIC_HOSTNAME=trendradar.se

# Google AdSense client ID (optional)
NEXT_PUBLIC_ADSENSE_CLIENT=
